@media only screen and (min-width: 768px) {
  .intro,
  .about,
  .team,
  .services,
  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 100vw;
    height: 120vh;
    margin: 0;
    padding: 0;
  }

  .overflow {
    position: absolute;
    bottom: -30vh;
    z-index: 999;

    width: 100vw;
    height: 10vh;

    background-color: rgb(245, 148, 148);
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
  }

  .intro {
    background-color: rgb(245, 148, 148);
    color: white;
    border-color: white;
  }
  /**------------------------------------*/
  .about {
    background-color: rgb(245, 222, 148);
    color: black;
    border-color: black;
  }

  .about.overflow {
    bottom: -150vh;
    background-color: rgb(245, 222, 148);
  }
  /**------------------------------------*/
  .team {
    background-color: rgb(177, 245, 148);
    color: black;
    border-color: black;
  }
  .team.overflow {
    bottom: -270vh;
    background-color: rgb(177, 245, 148);
  }
  /**------------------------------------*/
  .services {
    background-color: rgb(148, 245, 229);
    color: black;
    border-color: black;
  }
  .services.overflow {
    bottom: -390vh;
    background-color: rgb(148, 245, 229);
  }
  /**------------------------------------*/
  .contact {
    background-color: rgb(150, 148, 245);
    color: black;
    border-color: black;
  }
  .contact.overflow {
    bottom: -510vh;
    background-color: rgb(150, 148, 245);
  }
  /**------------------------------------*/
  .intro-text {
    display: flex;
    align-items: center;
  }
  .intro-title {
    font-family: "raleway-bold";
    font-size: 48px;
  }
  .intro-line {
    height: 60px;
    width: 0px;
    border: 1px solid;
    margin-left: 20px;
    margin-right: 20px;
  }
  .intro-description {
    font-family: "raleway-regular";
    font-size: 24px;
  }
  .intro-stats {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .stats-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 30vw;
    height: 10vh;
  }

  .stat {
    display: flex;
    align-items: center;

    font-size: 18px;
  }

  .stat-icon {
    color: rgba(255, 255, 255, 0.5);
    margin-right: 10px;
  }
  .stat-text {
    font-family: "raleway-medium";
  }

  .about {
    text-align: left;
  }
  .about-title {
    font-family: "raleway-bold";
    font-size: 32px;
  }
  .about-text {
    max-width: 30vw;

    font-family: "raleway-light";
    font-size: 18px;
  }

  .team-title {
    font-family: "raleway-bold";
    font-size: 32px;
  }

  .team-members {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }

  .team-member {
    position: relative;

    width: 20vw;
    height: 20vh;

    margin-left: 5px;
    margin-right: 5px;

    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }

  .team-text {
    position: absolute;
    top: 40px;
    left: 40px;

    text-align: left;
  }

  .team-name {
    font-family: "raleway-semibold";
    font-size: 18px;
  }
  .team-function {
    font-family: "raleway-light";
    font-size: 16px;
  }
  .team-links {
    position: absolute;
    bottom: 40px;
    right: 40px;

    text-decoration: none;
    font-size: 24px;
  }
  .team-links a {
    color: black;
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;

    background-color: rgb(54, 54, 54);
  }
  .services-grid {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .service-detail {
    display: flex;
    align-items: center;
    justify-content: left;

    width: 15vw;
    height: 5vh;
    padding-left: 20px;

    background-color: white;
    color: rgb(50, 50, 50);
    font-family: "raleway-light";
  }
  .service-name {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 15vw;
    height: 5vh;
    padding-left: 20px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    color: rgb(255, 255, 255);
    font-family: "raleway-semibold";
  }
  .service-package-1 .service-name {
    background-color: rgb(255, 78, 96);
  }
  .service-package-2 .service-name {
    background-color: rgb(255, 214, 127);
  }
  .service-package-3 .service-name {
    background-color: rgb(132, 245, 112);
  }
  .service-inclusion {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 15vw;
    height: 5vh;
    padding-left: 20px;

    background-color: white;
    color: rgb(50, 50, 50);
    font-family: "raleway-light";
  }
  .service-inclusion:nth-child(even) {
    background-color: rgb(240, 240, 240);
  }
  .service-check {
    color: rgb(35, 224, 133);
  }
  .service-xmark {
    color: rgb(246, 31, 60);
  }
  .service-detail:nth-child(1) {
    border-top-left-radius: 20px;
  }
  .service-detail:nth-child(5) {
    border-bottom-left-radius: 20px;
  }
  .service-detail:nth-child(odd) {
    background-color: rgb(250, 250, 250);
  }

  .services-bookable-container {
    display: flex;
    align-items: center;
    justify-content: right;
    width: calc(60vw + 80px);
  }
  .services-bookable {
    position: relative;

    width: calc(45vw + 60px);
    height: calc(7.5vh + 20px);

    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .services-bookable button {
    position: absolute;
    bottom: 10px;
    left: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: calc(45vw + 40px);
    height: 7.5vh;
    padding: 20px;

    background-color: rgb(26, 40, 93);
    border: 0px solid black;
    color: white;
    font-family: "raleway-semibold";
    font-size: 18px;
    border-radius: 15px;

    cursor: pointer;
  }

  .services-bookable button:hover {
    transition-duration: 0.2s;
    background-color: rgb(227, 227, 227);
    color: rgb(26, 40, 93);
  }
  .services-bookable button:not:hover {
    transition-duration: 0.2s;
  }

  .contact {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .contact-box {
    width: 80vw;
  }

  .footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    padding-bottom: 40px;

    font-family: "raleway-light";
    color: rgba(255, 255, 255, 0.5);
  }
  @media only screen and (min-width: 768px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .header-content-text-panel-title {
        font-family: "sonara-rounded";
        color: var(--foreground);
        font-size: 56px;
        margin: 0;
        padding: 0;
    }
    .header-content-text-panel-subtext {
        font-family: "jetbrains-regular";
        font-size: 18px;
        color: var(--white);
    }
    .team {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
    .team-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .team-title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40vw;
        height: 80vh;
        margin: 0;
        padding: 0;
        font-family: "sonara-rounded";
        font-size: 32px;
        color: var(--foreground);
        text-align: center;
    }
    .team-grid {
        position: relative;
        width: 40vw;
        height: 50vh;
        margin: 0;
        padding: 20px;
        padding-bottom: 10px;
        background-color: var(--background-lighter);
        border-radius: 20px;
        box-shadow: inset 0 0 10px #00000080;
        overflow-x: hidden;
    }
    .team-member {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(40vw - 20px);
        height: 15vh;
        margin-bottom: 10px;
        padding: 10px;
        background-color: var(--background-lighter);
        border-radius: 10px;
    }
    .team-member-text {
        position: absolute;
        top: 20px;
        left: 20px;
    }
    .team-member-title {
        font-family: "sonara-rounded";
        font-size: 24px;
        color: var(--foreground);
    }
    .team-member-description {
        font-family: "jetbrains-regular";
        font-size: 18px;
        color: var(--white);
    }
    .team-member-link {
        position: absolute;
        bottom: 20px;
        right: 20px;
        font-family: "jetbrains-regular";
        font-size: 18px;
        color: var(--background-lighter-2x);
    }
    .team-member-link:hover {
        color: var(--foreground);
        transition-duration: 0.2s;
    }
    .team-member-link:not(:hover) {
        color: var(--background-lighter-2x);
        transition-duration: 0.2s;
    }
    .skillset {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
    .skillset-content-title {
        font-family: "sonara-rounded";
        color: var(--foreground);
        font-size: 32px;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .skillset-content-subtext {
        font-family: "jetbrains-regular";
        font-size: 18px;
        color: var(--foreground);
        text-align: center;
    }
    .skillset-content-modifications {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .skillset-content-modifications-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70vw;
    }
    .switches {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .switch {
        font-family: "jetbrains-regular";
        color: var(--foreground);
    }
    .restart-skills {
        font-family: "jetbrains-regular";
        font-size: 24px;
        background-color: var(--background);
        border: 0px solid var(--background);
    }
}

@media only screen and (max-width: 768px) {
    .invisible {
        animation: hide 0.2s;
        opacity: 0.2;
        cursor: not-allowed;
        pointer-events: none;
    }
    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        position: fixed;
        top: 0;
        z-index: 1000;
        transition: top 0.3s;
        text-align: center;
    }
    .navbar-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-content-left {
        display: none;
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .header-content-text-panel-title {
        font-family: "sonara-rounded";
        color: var(--foreground);
        font-size: 24px;
        margin: 0;
        padding: 0;
    }
    .header-content-text-panel-subtext {
        font-family: "jetbrains-regular";
        font-size: 18px;
        color: var(--foreground);
    }
    .about-me {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
    .about-me-content-panel-title {
        font-family: "sonara-rounded";
        color: var(--foreground);
        font-size: 32px;
        margin: 0;
        padding: 0;
    }
    .about-me-content-panel-text {
        max-width: 60vw;
    }
    .about-me-content-panel-text {
        font-family: "jetbrains-regular";
        font-size: 18px;
        color: var(--foreground);
    }
    .projects {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100vw;
        min-height: 100vh;
    }
    .projects-content {
        display: block;
    }
    .projects-title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
        font-family: "sonara-rounded";
        font-size: 32px;
        color: var(--foreground);
        text-align: center;
    }
    .projects-grid {
        position: relative;
        width: calc(100vw - 40px);
        height: 50vh;
        margin: 0;
        padding: 20px;
        background-color: var(--background-lighter);
        border-radius: 0px;
        box-shadow: inset 0 0 10px #00000080;
        overflow-x: hidden;
    }
    .project {
        position: relative;
        width: calc(100vw - 60px);
        height: 30vh;
        margin-bottom: 10px;
        padding: 10px;
        background-color: var(--background-lighter);
        border-radius: 10px;
    }
    .project-content {
        height: 50px;
    }
    .project-text {
        position: absolute;
        top: 20px;
        left: 20px;
    }
    .project-title {
        font-family: "sonara-rounded";
        font-size: 24px;
        color: var(--foreground);
    }
    .project-description {
        font-family: "jetbrains-regular";
        font-size: 18px;
        color: var(--foreground-lighter);
    }
    .project-link {
        position: absolute;
        bottom: 20px;
        right: 20px;
        font-family: "jetbrains-regular";
        font-size: 18px;
        color: var(--background-lighter);
    }
    .skillset {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
    .skillset-content-title {
        font-family: "sonara-rounded";
        color: var(--foreground);
        font-size: 32px;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .skillset-content-subtext {
        font-family: "jetbrains-regular";
        font-size: 18px;
        color: var(--foreground);
        text-align: center;
    }
    .skillset-content-modifications {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .skillset-content-modifications-content {
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }
    .switches {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .switch {
        font-family: "jetbrains-regular";
        color: var(--foreground);
        text-align: center;
    }
    .restart-skills {
        font-family: "jetbrains-regular";
        font-size: 24px;
        background-color: var(--background);
        border: 0px solid var(--background);
    }
    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-content {
        font-family: "jetbrains-regular";
        color: var(--foreground);
    }
    .links {
        position: fixed;
        bottom: 0px;
        left: 0px;
        z-index: 100;
        width: 15vw;
        text-align: center;
    }
    .links a {
        color: var(--foreground);
        font-size: 32px;
        text-decoration: none;
    }
    .links a:hover {
        color: #f2f8e1;
    }
    .line-wrapper {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .line {
        width: 1px;
        height: 10vh;
        background-color: var(--foreground);
    }
}
  
}

